html,
body {
    margin: 0px;
}

#mainContainer{
    display: flex;

    height: 100vh;
    
    background-color: #73a2fb;
} 

#calculatorDiv{
    border: 1px solid #414143;

    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    scale: 390%;
}

.body{    
    background-color: #414143;
}

.row{
    display: flex;
    justify-content: space-around;
}

.display{
    border: 1px solid grey;

    background-color: #bcbec0;
} 

button{
    margin: 1px;
    width: 100%;

    background-color: #f7f7f7;
}